@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header: #ff9ecf;      /* Pink pastel untuk header */
  --text: #000000;        /* Hitam */
  --white: #ffffff;
}

body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  color: var(--text);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

header {
  width: 100%;
  text-align: center;
}

.card {
  background: var(--white);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(255, 105, 180, 0.25);
  transition: 0.2s ease;
  margin-bottom: 20px;   /* jarak antar card */
  margin-top: 20px;
  max-width: 1000px;
  margin: 20px auto;
}

.card:hover {
  transform: translateY(-3px);
}

.button {
  background: var(--header);
  padding: 12px 18px;
  border-radius: 12px;
  color: var(--white);
  font-weight: 600;
  transition: 0.2s;
  margin-right: 10px;    /* jarak antar tombol */
}

.button:last-child {
  margin-right: 0;       /* tombol terakhir tanpa jarak */
}

.button:hover {
  opacity: 0.8;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ff9ecf;
  outline: none;
  font-size: 14px;
}
